* {
    margin: 0;
    padding: 0;
    font-family: "Google Sans", sans-serif;
}

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(./1584.jpg);
    opacity: 95%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

ul li {
    display: inline-block;
}

ul li a {
    text-decoration: none;
    color: #fff;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.2s ease;
}

ul li a:hover {
    background-color: #fff;
    color: black;
}

.logo img {
    /* float: left; */
    width: 150px;
    height: auto;
}

.main {
    padding: 20px;
    /* margin: auto; */
    display: flex;
    flex-wrap: wrap;
}

#list {
    margin-left: auto;
}

.container {
    width: 320px;
    height: 420px;
    background: transparent;
    border: 1px solid;
    border-radius: 10px;
    color: white;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 30px 30px;
}

#input {

    width: 100%;
    margin-bottom: 20px;
    margin-top: 39px;
    height: 34px;
    border: 1px solid #111;
    border-radius: 3px;
    overflow: hidden;


}

#select2,#select3 {
    width: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
    height: 34px;
    border: 1px solid #111;
    border-radius: 3px;
    overflow: hidden;
   
}

a.button1 {
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid #FFFFFF;
    margin: 20px 0.3em 0.3em 4em;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #FFFFFF;
    text-align: center;
    transition: all 0.2s;
}

a.button1:hover {
    color: #000000;
    background-color: #FFFFFF;
}
p{
    font-size:25px;
    margin-top: 20px;
    

}